.content{
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 14.4rem 1fr;

    grid-template-areas: 
    'header header' /*1st line: 1st column header & 2nd column header */
    'left right'
}

header{
    grid-area: header;
}

#bg{
    grid-area: left;
    margin: 6rem;
    background: url('../assets/home-bg-img.svg') no-repeat top/contain; /* set the image to stay on the top and completeli inside their div content*/
}

main{
    grid-area: right;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

main .container{
    width: min(36.3rem, 100%);
}

main h2{
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: clamp(20px, 5w, 2.8rem);
    margin-bottom: 2.4rem;
}

input{
    border: 0.2rem solid var(--grey-blue);
    padding: 0 1.6rem;
    outline: none;
}

input, button, .button{
    width: 100%;
    margin-bottom: 1.8rem;
}

/* Separator Line */
.separator{
    display: flex; /*align the itens side by side*/
    align-items: center;
    margin: 4rem 0;
}

.separator div:nth-child(2){
    color: var(--grey-blue);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 0 .5rem;
    line-height: 0;
}

.separator div:nth-child(1),
.separator div:nth-child(3){ /*Specify which div child wants to use*/

    background: var(--grey-blue);
    width: 100%;
    height: 1px;

}

/* Create balls */

.ball{
    
    background: var(--blue);
    opacity: 8%;
    position: fixed; /*above all other elements*/
    clip-path: circle();
}

.ball.top{
    width: 60rem;
    height: 60rem;
    right: -40rem;
    top: -40rem;
    
}

.ball.bottom{
    width: 22rem;
    height: 22rem;
    right: 5.6rem;
    bottom: -15rem;

}

.ball.bottom.left{
    width: 22rem;
    height: 22rem;
    left: 30rem;
    bottom: 5rem;
}