<html>
    <head>
        <title> Incorrect password </title>
        <script>
            console.log('Dianaaa 2222');
            confirm(" Incorrect password! ");
            window.location.replace("/room/<%= roomId %>")
        </script>
    </head>
</html>