
<section>
    <h2>Create your own room</h2>
    <form action="/create-room" method="POST">
        <!-- Label provide acessibility -->
        <label class="sr-only" for="room-pass">Create a password</label>
        <input type="password" name="password" id="room-pass" placeholder="Create a password">
        <button>
            Create room
        </button>
    </form>
</section>
